USE [master]
GO
/****** Object:  Database [ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB]    Script Date: 08/07/2020 1:51:32 PM ******/
CREATE DATABASE [ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASP.NET_WEB_API_FOR_CRUD_OPERATION_DB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08/07/2020 1:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [name], [email], [address], [phone]) VALUES (1, N'Joshua C. Magoliman', N'joshuamagoliman@yahoo.com', N'manila, santa cruz', N'09475613881')
INSERT [dbo].[Customer] ([id], [name], [email], [address], [phone]) VALUES (2, N'Joanna Mae C. Magoliman', N'joannamae26@gmail.com', N'quezon city', N'09128121892')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
